[run]
branch = True
include = */traffic/*
omit = *tests*, *plugins*, *drawing*, *eurocontrol_*, *opensky.py

[report]
exclude_lines =
    coverage: ignore
    raise NotImplementedError
    if TYPE_CHECKING:
    def __repr__
    def _repr_html_
    def _repr_svg_
    def __str__
    def _info_html
    def _ipython_key_completions_

ignore_errors = True
