.DS_Store
.*.sw*
*.bak.[a-z]*
*.c
*.so
*.pyd
*.pkl
.vscode

*.egg-info/
__pycache__/
.coverage
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/

build/
dist/

bibliography/
sandbox/
stubs/
docs/*.ipynb
./traffic.conf

docs/matplotlib.get_configdir/
