[tool.black]
line-length = 80
target_version = ['py36', 'py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    __pycache__
  | \.git
  | \.mypy_cache
  | \.tox
  | \.ipynb_checkpoints
  | build
  | dist
)/
'''

[tool.isort]
line_length = 80
multi_line_output = 5
balanced_wrapping = true
# known_pandas=numpy,pandas,shapely,altair,pyproj
# sections=FUTURE,STDLIB,PANDAS,THIRDPARTY,FIRSTPARTY,LOCALFOLDER