name: tests

on:
  push:
  pull_request_target:
  schedule:
    - cron: "42 7 * * 0" # Every Sunday morning when I am fast asleep :)
    # This is useful for keeping the cache fit and ready
  workflow_dispatch:

env:
  POETRY_VERSION: "1.1.13"

jobs:
  deploy:
    runs-on: ubuntu-latest # ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10"]
    env:
      PYTHON_VERSION: ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      # Update full Python version
      - name: Full Python version
        run: |
          echo "PYTHON_VERSION=$(python -c "import platform; print(platform.python_version())")"
          echo "PYTHON_VERSION=$(python -c "import platform; print(platform.python_version())")" >> $GITHUB_ENV

      - name: Download extra data from private repository
        uses: actions/checkout@v2
        with:
          repository: xoolive/traffic_data
          token: ${{ secrets.PRIVATE_TOKEN }}
          persist-credentials: false
          path: ./data/traffic_data

      - name: Create LFS file list (private repository)
        working-directory: ./data/traffic_data
        run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-assets-id
        shell: bash

      - name: Restore LFS cache (private repository)
        uses: actions/cache@v2
        id: lfs-cache
        with:
          path: ./data/traffic_data/.git/lfs
          key: lfs-${{ hashFiles('./data/traffic_data/.lfs-assets-id') }}-v1

      - name: Git LFS Pull (private repository)
        working-directory: ./data/traffic_data
        run: |
          git remote set-url origin https://xoolive:${{ secrets.PRIVATE_TOKEN }}@github.com/xoolive/traffic_data.git
          git lfs pull
          unzip ENV_PostOPS_AIRAC_2111_04NOV2021_With_Airspace_Closure.zip -d airac_2111
        shell: bash

      # Poetry cache depends on OS, Python version and Poetry version.
      - name: Cache Poetry cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/pypoetry
          key: poetry-cache-${{ runner.os }}-${{ env.PYTHON_VERSION }}-${{ env.POETRY_VERSION }}

      # virtualenv cache should depends on OS, Python version and `poetry.lock` (and optionally workflow files).
      - name: Cache Packages
        uses: actions/cache@v2
        with:
          path: ~/.local
          key: poetry-${{ runner.os }}-${{ env.PYTHON_VERSION }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install and configure Poetry
        uses: snok/install-poetry@v1.1.6
        with:
          version: ${{ env.POETRY_VERSION }}
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Display Python version
        run: poetry run python -c "import sys; print(sys.version)"

      - name: Cache folder for traffic
        uses: actions/cache@v2
        id: cache-folder
        with:
          path: |
            ~/.cache/traffic/
            ~/.cache/cartes/
          key: ${{ runner.os }}-${{ matrix.python-version }}-cache_traffic

      - name: Populate first cache files
        if: steps.cache-folder.outputs.cache-hit != 'true'
        run: |
          mkdir -p ~/.cache/traffic/
          cp data/navdata/earth_*.dat ~/.cache/traffic/

      - name: Cache folder for libproj >=8.0
        uses: actions/cache@v2
        id: projlib-folder
        with:
          path: PROJ
          key: ${{ runner.os }}-cache_libproj

      - name: Populate first cache files
        if: steps.projlib-folder.outputs.cache-hit != 'true'
        run: |
          # upgrade to proj>=8.0 for Cartopy 0.20
          git clone https://github.com/OSGeo/PROJ
          cd PROJ
          git checkout 8.2.1
          mkdir build

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y libgdal-dev libgeos-dev libproj-dev proj-bin proj-data libarchive-dev
          cd PROJ/build
          cmake ..; cmake --build .
          sudo cmake --build . --target install
          cd ../..
          poetry install -E all -E web

      - name: Style checking
        if: ${{ matrix.python-version == '3.10' }}
        run: |
          poetry run flake8 traffic tests
          poetry run isort --check-only traffic tests
          poetry run black --check traffic tests

      - name: Type checking
        if: ${{ matrix.python-version == '3.10' }}
        run: |
          poetry run mypy traffic tests

      - name: Run tests
        env:
          LD_LIBRARY_PATH: /usr/local/lib
          TRAFFIC_CACHE_NO_EXPIRE: ""
          TRAFFIC_NOPLUGIN: ""
          OPENSKY_USERNAME: ${{ secrets.OPENSKY_USERNAME }}
          OPENSKY_PASSWORD: ${{ secrets.OPENSKY_PASSWORD }}
        run: |
          # Update the configuration for NM DDR airspace files
          export TRAFFIC_CONFIG=$(poetry run python -c "from traffic import config_file; print(config_file)")
          sed -i "/nm_path =/ s,= $,= $PWD/data/traffic_data/airac_2111," $TRAFFIC_CONFIG
          # Don't purge OpenSky cache files here :)
          sed -i "/purge = / d" $TRAFFIC_CONFIG
          poetry run pytest --cov --cov-report xml

      - name: Upload coverage to Codecov
        if: ${{ github.event_name != 'pull_request_target' && matrix.python-version == '3.10' }}
        uses: codecov/codecov-action@v3
        with:
          env_vars: PYTHON_VERSION
